.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .sidebar {
  text-align: left;
  background-color: #fff;
  width: 256px;
}
.App .sidebar h3 {
  text-align: center;
  background-color: blue;
  margin: 0;
  background-color: rgb(3, 169, 244);
  color: white;
  padding: 16px;
  font-size: 1.5em;
}

.App .productos {
  background-color : #fff !important;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.pull-right {
  float: right;
}

.hide {
  display : none;
}

@keyframes bell {
  0% { transform: rotate(0); }
  10% { transform: rotate(30deg); }
  20% { transform: rotate(0); }
  80% { transform: rotate(0); }
  90% { transform: rotate(-30deg); }
  100% { transform: rotate(0); }
}

.inline-block{
  display : inline-block !important;
}

.btn-circle {
  width : 24px !important;
  height : 24px !important;
  border-radius: 50% !important;
}

.bg-green{
  background-color : green !important; 
  color : white !important;
}

.float-right {
  float: right;
}

.font-red {
  color : #e1ef40 !important;
  animation: bell 1s 1s both infinite;
}